@model LiveDinner.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout - Admin.cshtml";
}

<marquee style="font-size:large; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; margin-left:20%; margin-right:20%; color:blue">Are you sure you want to delete this?</marquee>
<div>
    
    <dl class="dl-horizontal" style="color:green; font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">
        
        <dt>
            Product Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Name)
        </dd>

        <dt>
            Product Picture
        </dt>

        <dd>
           <img style="height:100px; width:150px" src="@Url.Content(Model.Product_Picture)" />
        </dd>

        <dt>
           Purchase price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Purchase_price)
        </dd>

        <dt>
            Sale Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Sale_Price)
        </dd>

        <dt>
            Product Description
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Description)
        </dd>

        <dt>
            Product Status
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Product_Status)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a href="@Url.Action("Index","Products")" class="btn btn-success">Back</a>
        </div>
    }
</div>
