
@{
    ViewBag.Title = "Orderbooked";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Orderbooked</h2>
@using LiveDinner.Models

@{
    int row = 0;
    int totalquantity = 0;
    decimal totalbill = 0;

    ViewBag.Title = "menucart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="PrintArea">
    <!-- Start All Pages -->
    <div class="all-page-title page-breadcrumb">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg-12">
                    <h5>Your Oder booked thanks for yopur trust</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Start Menu -->
    <br />
    <!--================Cart Area =================-->
    <section class="cart_area section_padding">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table table-bordered" style="width:50%; text-align:center; margin-left:25%; background-color:cadetblue; color:white; font-family:'Times New Roman', Times, serif; font-size:medium">
                        <thead style="background-color:darkred">
                            <tr>
                                <th scope="col">Product Name</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Session["menucart"] != null)
                            {
                                foreach (var item in (List<Product>)Session["menucart"])
                                {
                                    <tr style="color:white">
                                        <td>
                                            <div class="media">
                                                <div class="d-flex">
                                                    <img src="@Url.Content(item.Product_Picture)" style="height:100px;width:100px" />
                                                </div>
                                                <div class="media-body">
                                                    <p>@item.Product_Name</p>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <h5>@item.Product_Sale_Price</h5>
                                        </td>
                                        <td>
                                        </td>
                                        <td>
                                            <h5>@(decimal.Parse(item.Product_Sale_Price.ToString())*int.Parse(item.Product_Quantity.ToString()))</h5>
                                        </td>

                                    </tr>
                                    row++;
                                    totalquantity += item.Product_Quantity;
                                    totalbill += (decimal.Parse(item.Product_Sale_Price.ToString()) * int.Parse(item.Product_Quantity.ToString()));
                                }
                            }
                            <tr style="background-color:firebrick">
                                <td></td>
                                <td></td>
                                <td>@totalquantity</td>
                                <td>@totalbill</td>
                                <td></td>
                            </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

    <table class="table table-bordered" style="background-color:cadetblue; font-family:'Times New Roman', Times, serif;color:white">
        <tr>
            <td colspan="5" align="center" style="font-family:'Times New Roman', Times, serif; color:white; font-size:medium; background-color:darkred">Order Summmary</td>
        </tr>
        <tr>
            <td>sub total:</td>
            <td>@totalbill</td>
            <td>Discount:</td>
            <td>Rs 0</td>

        </tr>
        <tr>
            <td>Tax:</td>
            <td>Rs: 0</td>
            <td>Shiping Cost :</td>
            <td>Rs: 0</td>
        </tr>
        <tr style="background-color:brown">
            <td colspan="2">Grand Total:</td>
            <td colspan="2">@totalbill</td>
        </tr>

    </table>
    @if (Session["Order"] != null)
    {
        Order od = (Order)Session["Order"];
        <table class="table table-bordered" style="background-color:cadetblue; font-family:'Times New Roman', Times, serif;color:white">
            <tr>
                <td colspan="5" align="center" style="font-family:'Times New Roman', Times, serif; color:white; font-size:medium; background-color:darkred">Customer  Details</td>
            </tr>
            <tr>
                <td>Order Name:</td>
                <td>@od.Order_Name</td>
                <td>Order Email:</td>
                <td>@od.Order_Email</td>
            </tr>
            <tr>
                <td>Order Address</td>
                <td>@od.Order_Address</td>
                <td>Order Status</td>
                <td>@od.Order_Status</td>

            </tr>
            <tr style="background-color:brown">
                <td colspan="2">Order Type</td>
                <td colspan="2">@od.Order_Type</td>
            </tr>
        </table>
    }
    <div>
        <center>
            <input type="button" class="btn btn-outline-danger" value="Print out" onclick="return PrintFunction();" />
            <a href="@Url.Action("CloseOrder","Home")" class="btn btn-outline-danger">CloseOrder</a>
        </center>
    </div>
</div>

    <script>
        function PrintFunction() {
            var print = document.getElementById('PrintArea');
            window.print();
            return false;
        }
    </script>
